<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>{{title}}</title>
</head>

<body>
    <nav id="{{hideToolbar}}"class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
      <div id="headerLeft"            class="col-4">
        <a id ="headerPointsLink"     class="headerItem">Points</a>
      </div>
      <div id="headerMiddle"          class="col-4">
        <span id ="headerBreweriesLink"  class="headerItem">Breweries</span>
      </div>
      <div id="headerRight" class="col-4">
        <span id ="headerPoints"  class="headerItem">40</span>
        <a id ="headerAccount"    class="headerItem">{{user}}</a>
      </div>
  </nav>
  {{{body}}}
</body>

</html>
