<div id="home">



	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
<<<<<<< HEAD
    <a href="/account">Account</a>
	<a href="#">Drinks</a> 
    <a id = "logout" href="/logout">Log out</a>
=======
    <span> welcome: {{username}}</span>
    <a href="/adminbreweries">Admin Breweries</a>
	<a href="/adddrinks">Add Drinks</a> 
    <a href="/">Log out</a>
>>>>>>> almostDone
	</div>
	<span id ="navbar1" style="font-size:30px;cursor:pointer;" onclick="openNav()">&#9776;
<<<<<<< HEAD
    <p id ="headerWords">Brew-stash</p>
    
=======
    <p id ="headerWords">SPIRIT TAVERN</p> 
>>>>>>> almostDone
  </span>





  <div class="container col-10" >
        <span id="adminHaader"></span>
        <div id="drinkSettingsBox">
            <div class="list-group">

            </div>
        </div>
        <div id="breweryList">
            <h1>Your Breweries</h1>
            {{#each brewery}}
              {{!-- {{brewer_name}} --}}
              {{> breweries/brew-block}}
            {{/each}}
        </div>
        <form id="cmsBrewery">
        Brewery name:
        <input type="text" name="type" id="breweryName" placeholder="asdf"><br>
        Street Address:
        <input type="text" name="type" id="street" placeholder="123 asdf, Aus, TX, 18181"><br>
        {{!-- City:
        <input type="text" name="type" id="city" placeholder="Asdf"><br>
        State:
        <input type="text" name="type" id="state" placeholder="AS"><br>
        Zip Code:
        <input type="text" name="type" id="zip" placeholder="12345"><br> --}}
        <button id="submitbrewery" class="btn btn-primary float-right">Submit</button>

    </form>
        <br>
        
  </div>
</div>

<script src="/js/inputBrewery.js"></script>
<script src="/js/accountOptions.js"></script>
