<header> 
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/account">Account</a>
		<a href="#">Drinks</a>    
    <a id = "logout" href="/">Log out</a>
	</div>

	<span id ="navbar1" style="font-size:30px;cursor:pointer;" onclick="openNav()">&#9776;
    <p id ="headerWords">SPIRIT TAVERN</p>
    
  </span>
</header>

<div id="home">
  <div class="container col-10" >
        <img id="googleMap" class="img-fluid" src="/images/mapAustin.gif" alt="logo">
        <div id="breweryContainer">
          <ul>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
          </ul>
      </div>
      <a class="newLogoutButton" href="/logout">
        <button id="homeButtonBrewery" class="btn btn-primary homeButton">Log Out</button>
      </a>
  </div>
</div>

<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

<style> 

  body {
  font-family: "Lato", sans-serif;
}

.sidenav {
      font-family: 'Oswald', sans-serif;

  display: none;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #023446;
  overflow-x: hidden;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #DCD8AD;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>


