<div id="home">
  <div class="container col-10" >
        <img id="googleMap" class="img-fluid" src="/images/mapAustin.gif" alt="logo">
        <h1>Beer Map under construction/ See Scott for details</h1>
        <div id="breweryContainer">
          <h1>Local Breweries</h1>
          <ul>
            {{#each brewery}}
              {{> breweries/view-block}}
            {{/each}}
          </ul>
      </div>
      <a class="newLogoutButton" href="/logout">
        <button id="homeButtonBrewery" class="btn btn-primary homeButton">Log Out</button>
      </a>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/viewport.js"></script>
