<div id="home">
  <div class="container col-10" >
    <div class="row">
        <img id="logo" class="img-fluid" src="/images/logo.png" alt="logo">

        <form id="createAccountForm" class="clearfix mb-4" action="/breweries">
          <div class="form-group">
            <label id="accountHeader"for="example-text">Create Username</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter username">
          </div>
          <div class="form-group">
            <label id="accountHeader"for="example-description">Create Password</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter password"></textarea>
          </div>
          <button id="createAccountSubmit" class="btn btn-primary float-left">Submit</button>
        </form>
        <br>
        <button id="homeButtonCreate" class="btn btn-primary homeButton">Go back</button>
      </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
