<div id="home">


	<span id ="navbar1" style="font-size:30px;cursor:pointer;">
    <p id ="headerWords">BREW-STASH</p>
    <br>
    


  <div class="container col-10" >
    <div class="row">
        <img id="logo" class="img-fluid" src="/images/logowide.png" alt="logo">
        <form id="createAccountForm" style="text-align: center" class="clearfix mb-4" action="/breweries">
          <div class="form-group">
            <span>CREATE ACCOUNT</span>
            <label id="creatAccountUser"for="example-text">Username</label>
            <input type="text" id="creatAccountUserName" class="form-control" aria-describedby="example-text" placeholder="Create Username">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="createAccountPassword" placeholder="Create Password">
          </div>
          <button id="createAccountSubmit" class="btn btn-primary float-left">Create Account</button>
        </form>
        <br>

        <a href="/" class="btn btn-secondary btn-lg btn-block" id = "backButton">GO BACK</a>
      </div>
  </div>
</div>

{{!-- <script src="/js/index.js"></script> --}}
<script src="/js/createAccount.js"></script>
