<div id="home">
  <div class="container col-10" >
    <div class="row">
        <img id="logo" class="img-fluid" src="/images/logo.png" alt="logo">
        <form id="createAccountForm" class="clearfix mb-4" action="/breweries">
          <div class="form-group">
            <label id="creatAccountUser"for="example-text">Create Username</label>
            <input type="text" id="creatAccountUserName" class="form-control" aria-describedby="example-text" placeholder="Enter username">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="createAccountPassword" placeholder="Password">
          </div>
          <button id="createAccountSubmit" class="btn btn-primary float-left">Submit</button>
        </form>
        <br>

        <a href="/" class="btn btn-secondary btn-lg btn-block" id = "backButton">GO BACK</a>
      </div>
  </div>
</div>

{{!-- <script src="/js/index.js"></script> --}}
<script src="/js/createAccount.js"></script>
