<div id="home">

	<span id ="navbar1" style="font-size:30px;cursor:pointer;" onclick="openNav()">
    <p id ="headerWords">BREW-STASH</p>
    <br>



  <div class="container col-10" >
    <div class="row">
        <img id="logo" class="img-fluid" src="/images/logowide.png" alt="logo">
        <button id="breweriesButton"      type="button" class="btn btn-primary">DRINKERS</button>
        <button id="loginButton"          type="button" class="btn btn-primary">BREWERS</button>
      </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
