<div id="home">
  <div class="container col-10" >
    <div class="row">
        <img id="logo" class="img-fluid" src="/images/logo.png" alt="logo">
        <button id="loginButton"         type="button" class="btn btn-primary">Login</button>
        <button id="createAccountButton" type="button" class="btn btn-primary">Create Account</button>

      </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
