<div id="home">

	<span id ="navbar1" style="font-size:30px;cursor:pointer;" onclick="openNav()">
    <p id ="headerWords">BREW-STASH</p>
    <br>



  <div class="container col-10" >
    <div class="row">

        <img id="logo" class="img-fluid" src="/images/logo.png" alt="logo">



        <form id="login" class="clearfix mb-4" action="/breweries">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" aria-describedby="username" placeholder="Enter a username">
          </div>
          <div class="form-group">
            <label for="example-description">Password</label>
            <input type="password" class="form-control" id="password" aria-describedby="password" placeholder="password"></textarea>
          </div>
          <button id="loginSubmit" class="btn btn-primary float-left">Submit</button>
        </form>


        <a href="/" class="btn btn-secondary btn-lg btn-block" id = "backButton">GO BACK</a>


      </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
{{!-- <script src="/js/index.js"></script> --}}
<script src="/js/login.js"></script>
