<div id="home">
  <div class="container col-10" >
        <div id="pointsContainer">
          <ul>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
            <li>Brewery 1</li>
          </ul>
      </div>
      <button id="homeButtonPoints" class="btn btn-primary homeButton">Log Out</button>
  </div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
