@media only screen and (max-width: 1000px) {
  /* nav bar  */

  #navbar1{
    position: fixed;
    top: 0;
    background-color: #023446;
    color: #DCD8AD;
    width: 100%;
    height: 70px;
    padding: 10px;
    float: left;
    border-bottom: 20px;
    z-index: 9999;
  }
  #navbar2{
    position: fixed;
    top: 0;
    background-color: #023446;
    color: #DCD8AD;
    width: 100%;
    height: 70px;
    padding: 10px;
    float: left;
    border-bottom: 20px;
    z-index: 9999;
  }
 #backToAdminMe {
   background: #023446;
 }
  #logout{
    position: absolute;
    bottom:0;
  }

  #headerWords{
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    text-align: center;
    position: absolute;
    top: 0;  
    left: 25%;  
    padding: 5px;
  }

  .sidenav {
    font-family: 'Oswald', sans-serif;
    display: none;
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #023446;
    overflow-x: hidden;
    padding-top: 60px;
    z-index: 9999;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #DCD8AD;
    display: block;
    z-index: 9999;
  }

  .sidenav a:hover {
    color: #f1f1f1;
    z-index: 9999;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .closebtn {
    position: relative;
    font-size: 50px
  }

  /*home page buttons */
  
  #indexBody{
    position:absolute;
    bottom: 10%;
  }

  #loginButton1{
    font-family: 'Oswald', sans-serif;

    box-sizing: border-box;
    height:50px;
    width: 80%;
    margin: 10px auto;
    font-size: 20px;
    color: #DCD8AD;
    background-color: #023446;
    padding: 10px;
  }

  #backButton{
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    height: 50px;
    width:80%;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    color: #DCD8AD;
    background-color: #023446;
    padding: 10px;

  }

  /*create account page */

  #brewdrink{
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .nav-link{
    color: #023446;
  }
  
  /*input drinks */
  #drinktitle{
    text-align:center;
  }

  #inputDrinks{
    background-color: red;
    padding: 15px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
  }

  #submitdrinks{
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    height:50px;
    width: 100%;
    margin: 10px auto;
    font-size: 20px;
    color: #DCD8AD;
    background-color: #023446;
    padding: 10px;
  }
   #addDrink {
    width: 100%;;
  }
  #drinkList {
    width: 100%;
    height: 300px;
    overflow: scroll;
    background: orange;
  }
  /*input breweries page*/
  #brewtitle{
    text-align: center;
  }
  #drink, #price, #type {
    width: 100%
  }

  #inputbrewery{
    background-color: red;
    padding: 15px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
  }

  #submitbrewery{
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    height:50px;
    width: 100%;
    margin: 10px auto;
    font-size: 20px;
    color: #DCD8AD;
    background-color: #023446;
    padding: 10px;
  }
 #breweryList {
   width:100%;
   overflow: scroll;
   height: 300px;
   background: orange;
   font-size: 14px;
   
 }
  /* affects all pages */

  ::-webkit-scrollbar { 
    display: none; 
  }  
  #true {
    display: none;
  }
  #false {
    display: default;
  }
  .list-group-item {
    line-height: 2.5;
  }
  html {
    width: 100%;
  }
  body {
    width: 100%;
    font-size: 100px;
    background: rgb(116, 167, 106);
  }
  label {
    text-align: center;
  }
  #logo {
    width:100%;
    height: 40%;
  }
  .container {
    margin-top:50px;
  }

  .homeButton {
    position: absolute;
    width: 50%;
    left: 25%;
    bottom: 0%;
    color:#DCD8AD;
  }
  #logoNav {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .inputBox {
    width: 100%;
  }
  /* /home styles */
  #home {
    border-top: 20px;
    font-size: 15px;
    padding: 25px 0;
  }
  #loginButton {
    width: 100%;
    height: 100px;
    font-size: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #023446;
    border-color: black;
    font-family: 'Oswald', sans-serif;
    color: #DCD8AD;

  }


  #breweriesButton {
    width: 100%;
    height: 100px;
    margin-top:50px;
    font-size: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #023446;
    border-color: black;
    font-family: 'Oswald', sans-serif;
    color: #DCD8AD;
  }
  #createAccountButton {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    height: 50px;
    width:80%;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    color: #DCD8AD;
    background-color: #023446;
    padding: 10px;
  }

  /* /createaccount styles */
  #signInForm {
    font-size: 40px;
    width:90%;
  }
  #userNameBox, #passwordBox {
    height: 100px;
    font-size: 30px;
  }
  #accountHeader {
    font-size: 30px;
  }
  #homeButtonCreate {
    bottom: -5%;
    color: #DCD8AD;
  }

  /* /login styles */

  #login {
    width: 100%;
  }
 #createAccountForm {
   width: 100%;
 }
  /* /brewery styles */
  #breweryContainer{
    background: #ECE3C5;
    color: #023446;
    width: 100%;
    margin-top: 10px;
    overflow: scroll;
    height: 300px;
    border-radius: 10px;
    font-size: 15px;
  }
  #googleMap {
    margin-bottom: 10px;
    width:100%;
    height: 40%;
    border-radius: 10px;
  }
  #homeButtonBrewery {
    width: 50%;
    margin-top: 0px;
    text-align: center;
    position: absolute;
    left: 25%;
    bottom: -10%;
    background-color: #023446;
    color: #DCD8AD;
  }
  /* /points styles */
  #pointsContainer {
    height: 400px;
    width: 100%;
    margin-top: 20px;
    overflow: scroll;
    background: red;
    border-radius: 10px;
  }
  #homeButtonPoints {
    width: 50%;
    margin-top: 0px;
    text-align: center;
    position: absolute;
    left: 25%;
    bottom: -10%;
    color: #DCD8AD;
  }
  /* /account styles */
  #brewmasterSettingsBox {
    width: 100%;
    height: 250px;
    background-color: #ECE3C5;
    color: #023446;
    overflow: scroll;
    border-radius: 10px;
  }
  #brewmasterHeader {
    font-size: 25px;
  }
  #beerSubmit {
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;

    box-sizing: border-box;
    height:50px;
    width: 100%;
    margin: 10px auto;
    font-size: 20px;
    color: #DCD8AD;
    background-color: #023446;
    padding: 5px;

  }
  #homeButtonAccount {
    width: 50%;
    margin-top: 0px;
    text-align: center;
    position: absolute;
    left: 25%;
    bottom: -0%;
    color: #DCD8AD
  }
  /* NAVBAR styles */


  #headerPointsLink, #headerBreweriesLink {
    color:black;
  }
  #headerPointsLink {
    color: brown;
  }
  #headerBreweriesLink {
    color:brown;
    margin-left: 20px;
  }
  #headerPoints {
    color: aqua;
  }
  #headerAccount {
    text-align: right;
    color: green;
  }

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* admin page */
