@media only screen and (min-width: 1000px) {
  body {
    background-color: lightblue;
  }

  #homeButtonLogin{
    height: 30px;
  }

  #loginForm{
    padding: 20px 20px;
  }
}


@media only screen and (max-width: 1000px) {
  /* nav bar  */

  #navbar1{
    position: fixed;
    top: 0;
    background-color: #023446;
    color: #DCD8AD;
    width: 100%;
    height: 70px;
    padding: 10px;
    float: left;
  border-bottom: 20px;

  }
 

  #headerWords{
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    text-align: center;
    position: absolute;
    top: 0;  
    left: 25%;  
    padding: 5px;
  }

  /*home page buttons */
  
  #indexBody{
    position:absolute;
    bottom: 10%;
  }

  #loginButton1{
    font-family: 'Oswald', sans-serif;

    box-sizing: border-box;
    height:50px;
    width: 80%;
    margin: 10px auto;
    font-size: 20px;
    color: #DCD8AD;
    background-color: #023446;
    padding: 10px;
  }

  #signupButton{
    font-family: 'Oswald', sans-serif;

    box-sizing: border-box;
    height: 50px;
    width:80%;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    color: #DCD8AD;
    background-color: #023446;
    padding: 10px;

  }

  /*create account page */

  #brewdrink{
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .nav-link{
    color: #023446;
  }
  

  /* affects all pages */

  ::-webkit-scrollbar { 
    display: none; 
  }  
  #true {
    display: none;
  }
  #false {
    display: default;
  }
  .list-group-item {
    line-height: 2.5;
  }
  html {
    width: 100%;
  }
  body {
    width: 100%;
    font-size: 100px;
    background: white;
  }
  label {
    text-align: center;
  }
  #logo {
    width:100%;
    height: 40%;
    border-radius: 10px;
  }
  .container {
    margin-top:50px;
  }

.homeButton {
  position: absolute;
  width: 50%;
  left: 25%;
  bottom: 0%;
}
  /* /home styles */
  #home {
    border-top: 20px;
    font-size: 15px;
    padding: 50px 0;
  }
  #loginButton, #createAccountButton {
    width: 100%;
    height: 80px;
    margin-top:20px;
    font-size: 30px;
    border-radius: 10px;
  }

  /* /createaccount styles */
  #signInForm {
    font-size: 40px;
    width:90%;
  }
  #userNameBox, #passwordBox {
    height: 100px;
    font-size: 30px;
  }
  #accountHeader {
    font-size: 30px;
  }
  #homeButtonCreate {
    bottom: -5%;
  }

  /* /login styles */

  #loginForm {
    width: 100%;
  }
  #homeButtonLogin {
  }

  /* /brewery styles */
  #breweryContainer{
    background: #ECE3C5;
    color: #023446;
    width: 100%;
    margin-top: 10px;
    overflow: scroll;
    height: 250px;
    border-radius: 10px;
  }
  #googleMap {
    margin-top: 20px;
    margin-bottom: 10px;
    width:100%;
    height: 40%;
    border-radius: 10px;
  }
  #homeButtonBrewery {
    width: 50%;
    margin-top: 0px;
    text-align: center;
    position: absolute;
    left: 25%;
    bottom: -10%;
    background-color: #023446;
    color: #DCD8AD;
  }
  /* /points styles */
  #pointsContainer {
    height: 400px;
    width: 100%;
    margin-top: 20px;
    overflow: scroll;
    background: red;
    border-radius: 10px;
  }
  #homeButtonPoints {
    width: 50%;
    margin-top: 0px;
    text-align: center;
    position: absolute;
    left: 25%;
    bottom: -10%;
  }
  /* /account styles */
  #brewmasterSettingsBox {
    width: 100%;
    height: 250px;
    background-color: #ECE3C5;
    color: #023446;


    overflow: scroll;
    border-radius: 10px;
  }
  #brewmasterHeader {
    font-size: 25px;
  }
  #beerSubmit {
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;

    box-sizing: border-box;
    height:50px;
    width: 100%;
    margin: 10px auto;
    font-size: 20px;
    color: #DCD8AD;
    background-color: #023446;
    padding: 5px;

  }
  #homeButtonAccount {
    width: 50%;
    margin-top: 0px;
    text-align: center;
    position: absolute;
    left: 25%;
    bottom: -0%;
  }
  /* NAVBAR styles */
  .navbar{
    font-size: 22px;
    position: fixed;
    width: 106%;
    height: 8.5%;
    top:0%;
    left: -3%;
    z-index: 999;
  }

  .headerSection {
    width: 33.33%;
    position: relative;
    height: 100%;
  }
  #headerLeft{
    background: green;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 125%;
    z-index: 200;
  }
  #headerMiddle{
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    height: 125%;
    z-index: 200;
  }
  #headerRight{
    background: blue;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 125%;
    border-right: 1%;
    z-index: 200;
  }

  #headerPointsLink, #headerBreweriesLink {
    color:black;
  }
  #headerPointsLink {
    color: brown;
  }
  #headerBreweriesLink {
    color:brown;
    margin-left: 20px;
  }
  #headerPoints {
    color: aqua;
  }
  #headerAccount {
    text-align: right;
    color: green;
  }


}