<li>
    {{brewer_name}}
    {{address}}
    <button class="addDrinks btn btn-light" data-id="{{id}}">Add Drinks</button>
    <button class="deleteBrewery btn btn-danger" data-id="{{id}}">Delete</button>
</li>