    <div class="breweryListItem" id="brewery{{id}}">
    <p>Brewery Name: {{brewer_name}}</p>
    <p>Address: {{address}}</p>
    <button class="seeDrinks btn btn-light" data-id="{{id}}">See drinks</button>
    </div>